@import "tailwindcss";

:root,
[data-theme="light"] {
    --bg-color: #ffffff;
    --bg-secondary-color: #f1f5f9;
    --secondary-bg: #ffffff;
    --text-color: #000000;
    --text-muted: #8f8f8fb0;
    --secondary-color: rgb(156, 156, 156);

    --accent-color: #2563eb;

    --red: #e11d48;
    --red-bg: #e11d4725;

    --pink: #f755b9;
    --pink-bg: #f755b933;

    --green: #10b981;
    --green-bg: #10b98125;

    --yellow: #726700;
    --yellow-bg: #ffe600;

    --box-shadow-color: rgb(0 0 0 / 0.25);
    --text-shadow-color: #0000003f;

    --blur-bg-color: #ffffff40;
    --blur-text-color: #00000010;

    --hover-bg-color: #00000010;

    --border-color: #0000002d;
}

:root[data-theme="dark"] {
    --bg-color: #000000;
    --bg-secondary-color: #0c0c0c;
    --secondary-bg: #0c0c0c;
    --text-color: #f3f3f3;
    --text-muted: #8f8f8fb0;
    --secondary-color: #757575;

    --red: #e11d48;
    --red-bg: #e11d473d;

    --pink: #f755b9;
    --pink-bg: #f755b942;

    --box-shadow-color: rgb(255 255 255 / 0.25);
    --text-shadow-color: #ffffff3f;

    --blur-bg-color: #0000003b;
    --blur-text-color: #ffffff10;

    --hover-bg-color: #ffffff0f;

    --border-color: #2c2c2c;
}

@theme {
    --font-inter: "Inter", sans-serif;
    --font-instrument: "Instrument Serif", serif;
    --font-space: "Space Mono", monospace;
}


.underline-effect {
    position: relative;
    text-decoration: none;
}

.underline-effect::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--text-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.underline-effect:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

html,
.custom-sidebar-container {
    scrollbar-color: var(--text-color);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 10px;
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text-muted);
}



.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--border-color) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: var(--bg-color);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 10px;
    border: none;
    transition: all 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--text-muted);
}
